
<form action="LoadFile" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="file" style="margin:15px"/>
        <button type="submit" style="margin:15px">Отправить</button>
    </div>
</form>
